/* Navbar CSS DOUBLE CHECK LOGIN */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: lightgrey;
}

.logo {
  height: 50px;
}

.login-btn {
  padding: 8px 16px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

.introNavButton{
  display: flex;
  flex-direction: row;
}

/* Login and Signup */
.nav_button{
  margin: 10px;
  padding: 5px 10px 5px 10px;
  background-color: #362A7C;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: lightgray;
  text-decoration: none;
  font-size: 18px;
  /* text */
}
/* Organization CSS */
.org-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.org-card h3 {
  margin-top: 0;
}

.org-container{
  display: flex;
  flex-direction: row;
}


/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: lightgrey;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  font-size: 24px;
}

/* SkipLink.css */
.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background: #171CBB;
  color: lightgray;
  padding: 10px 12px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.nav__contact{
  margin: 10px;
  padding: 5px 10px 5px 10px;
  background-color: #362A7C;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: lightgray;
  text-decoration: none;
  font-size: 18px;
}



@media (max-width: 768px) {
    .introNavButton{
      display: flex;
      flex-direction: column;
    }
        .nav_button{
        font-size: 18px;
        }
        
  
}