@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: lightgrey;
  }
  
  .logo {
    height: 50px;
  }
  
  .dark-mode {
    background-color: black;
    color:white;
    
    }
    
    #theme-button {
      border-color: white;
      border: dotted;
      border-width: thick;
    }
    
  .btn {
    padding: 8px 16px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }

  .add {
    padding: 8px 16px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
    margin-right: 300px;
  }
  
 
    

  .add:hover {
    background-color: #0056b3;
  }
  

.section {
    justify-content: space-between;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(250, 250, 250);

   
}



/* Style for the card container using Flexbox */
.card-container {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
    flex-wrap: wrap; /* Allow cards to wrap to the next line if necessary */
    margin: 0 8px;
  }
  
  .card {
    width: 300px; /* Adjust card width as needed with spacing */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px; /* Adjust spacing between cards */
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }

  .card-title {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .card-text {
    font-size: 1rem;
  }
  


.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: black;
}
